*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root{
   --background-color: #FFFECA;
   --text-color: #0000FF;
   --facts-color: #FFE400;
}

body{
   background-color: var(--background-color);
   font-family: inter, sans-serif;
}

header{
display: flex;
flex-direction: column;
width: 90%;
max-width: 450px;
margin-left: 20px;
margin-right: 20px;
margin-top: 57px;
}

h2{
   font-weight: 400;
   font-size: 21px;
   line-height: 26px;
   color: var(--text-color);
}

h1{
   font-weight: 700;
   font-size: 30px;
   line-height: 44px;
   width: 300px;
   color: var(--text-color);

}

.logo{
   width: 10em;
   margin: 1em 0 0 auto;
}

main{
display: flex;
flex-direction: column;
max-width: 450px;
width: 100%;
}

.intro{
width: 90%;
margin: 80px auto 0 auto;
position: relative;
}

.intro-img{
   max-width: 452px;
   width: 100%;
   z-index: 1;
}

.intro-title{
   position: absolute;
   width: 85%;
   height: 50px;
   padding: 15px 13px 7px 26px;
   background-color: #FFFFFF;
   color: var(--text-color);
   font-size: 19px;
   left: 63px;
   top: 260px;
}

.intro-text{
   position: relative;
   padding: 21px 13px 20px 25px ;
   font-weight: 400;
   font-size: 15px;
   line-height: 25px;
   background-color: #FFFFFF;
   color: var(--text-color);
   top: -5px;
}

.facts-and-numbers{
   width: 90%;
   margin: 80px auto 0 auto;
   position: relative;
   color: black;
}

.facts-and-numbers h2{ 
   font-weight: 700;
   font-size: 21px;
   text-align: center;
   margin: auto 90px auto 90px;
   color: var(--text-color);
   padding-bottom: 25px;
}

.facts-and-numbers ul{
   display: flex;
   flex-direction: column;
   align-items: center;
   list-style-type: none;
   padding: 0;
   gap: 0.5em;
}

.facts-and-numbers li{
   background-color: var(--facts-color);
   width: fit-content;
   padding: 5px 12px;
   border-radius: 50px;
   font-size: 18px;
   line-height: 30px;
}

span{
   font-weight: 700;
   padding-right: 5px;
}

.middle{
   width: 90%;
   margin: 80px auto 0 auto;
   position: relative;
   }

.middle-img{
   max-width: 452px;
   width: 100%;
}

.middle-title{

   position: absolute;
   width: 70%;
   height: 50px;
   padding: 15px 15px 16px 20px;
   background-color: #FFFFFF;
   color: var(--text-color);
   font-size: 19px;
   right: auto;
   top: 185px;
}

.middle-text{
   top: -5px;
   position: relative;
   padding-right: 13px;
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 60px;
   font-weight: 400;
   font-size: 15px;
   line-height: 25px;
   background-color: #FFFFFF;
   color: var(--text-color);
}

.button1 {
   position: relative;
   top: -55px;
   margin: auto 13px auto 20px;
   background: #0000FF;
   border-radius: 5px;     
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   width: 300px;
   height: 34px;
   border: none;
   transition: .6s;
 }

 .button1:hover{
   transform: scale(1.09);
   transition: .6s;
 }
 
.button1 p{
    color: #FFFFFF;
     }

.jasper{
      width: 90%;
      margin: 50px auto 0 auto;
      position: relative;
   }

.img-wrapper{
   width: 200px;
   height: 200px;
   overflow: hidden;
   border-radius: 50%;
   margin: 25%;
   margin-top: 20px;
   margin-bottom: 30px;
   }

.img-3{
   height: 280px;
   width: 200px;
}

.jasper-title{
   font-weight: 700;
   font-size: 15px;
   line-height: 30px;
   margin-top: 0px;
   color: var(--text-color);
}

.jasper-text{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #222222;
}

.button2 {
   margin: 5px 13px auto auto;
   background: #0000FF;
   border-radius: 5px;     
   font-weight: 400;
   font-size: 12px;
   height: 25px;
   border: none;
   transition: .6s;
}

.button2:hover{
   transform: scale(1.09);
   transition: .6s;
}

.button2 p{
   color: #FFFFFF;
   padding: 2px 2px 2px 2px;
   font-weight: 700;
}

.timeline {
   position: relative;
   max-width: 100%;
   margin: 80px auto 0 auto
 }
 
 .timeline::after {
   content: '';
   position: absolute;
   background-color: var(--text-color);
   width: 2px;
   top: 0;
   bottom: 0;
   left: 50%;
   margin-left: -174px;
 }
 
 .container {
   padding: 10px 40px;
   position: relative;
   margin-left: -10px;
   width: 50%;
 }
 
 .container::after {
   content: '';
   position: absolute;
   width: 25px;
   height: 25px;
   right: -17px;
   background-color: blue;
   top: 58px;
   border-radius: 50%;
   z-index: 1;
 }
 
 .left {
   left: 0;
 }
 
 .right {
   left: 50%;
 }
 
 .right::after {
   left: -10px;
 }
 
 .left::after {
   right: -5px;
 }
 
 @media screen and (min-width: 1280px) { 
   .timeline::after {
   left: 31px;
   } 

   .container {
   width: 100%;
   padding-left: 60px;
   padding-right: 20px;
   }
   
   .left::after, .right::after {
   left: 20px;
   }
   
   .right {
   left: 0%;
   }

   .timeline h3{
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   color: #222222;
   margin-top: 20px;
   }

   .timeline h2{
   font-weight: 700;
   font-size: 21px;
   line-height: 29px;
   color: var(--text-color);
   }

   .timeline p{
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   color: #222222;
   }

   .timeline-img{
      max-width: 452px;
      width: 100%;
      margin-top: 8px;
   }

.pictures-column{
   width: 90%;
   margin: 80px auto 0 auto;
   position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}  

.pictures-column h2{
font-weight: 700;
font-size: 21px;
line-height: 29px;
align-items: center;
}

.pictures-column img{
   padding: 0;
   max-width: 452px;
   flex-wrap: wrap;
}

.images{
   width: 50%;
}

.form-yellow{
   width: 90%;
   margin: 80px auto 0 auto;
   position: relative;
   background-color: var(--facts-color);
}

.form-yellow h2{
   font-weight: 700;
   font-size: 33px;
   line-height: 44px;
   padding-top: 30px;
   padding-left: 20px;
}

.form-yellow h2:hover{
   transition: 1s;
   transform: rotate(10deg);
}

.form-yellow h3{
   font-weight: 400;
   font-size: 20px;
   line-height: 26px;
   color: #0000FF;
   padding-left: 20px;
   padding-top: 10px;
   padding-bottom: 200px;
}

input[type="text"], input[type="email"]{
   border: none;
   outline: none;
   border-bottom: 2px solid var(--text-color);
   background-color: transparent;
   width: 300px;
   padding-top: 15px;
   margin-bottom: 10px;
   margin-left: 20px;
   padding-bottom: 10px;
   color: #888888;
   }

input[placeholder="Felicitatie"]{
   padding-bottom: 50px;
}

input[type="versturen"]{
   margin-left: 20px;
   margin-bottom: 20px;
   text-align: center;
   width: 118px;
   height: 34px;
   border-radius: 5px;
   border: none;
   font-weight: 700;
   font-size: 14px;
   line-height: 20px;
   background-color: var(--text-color);
   color: #FFFFFF;
}

label[for="lname"], label[for="fname"]{
   margin-left: 20px;
   color: var(--text-color);
}

   .form{
   width: 88%;
   position: relative;
   background-color: #FFFFFF;
   padding-top: 20px;
   margin: -170px 0 auto 40px;
   }


.messages{
   width: 90%;
   margin: 80px auto 0 auto;
   position: relative;  
}

.messages h2{
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   text-align: center;
}

.messages h3{
   padding-left: 20px;
   margin-top: 20px;
   font-weight: 400;
   font-size: 18px;
   line-height: 35px;
   color: var(--text-color)
}

.messages p{
   padding-left: 20px;
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   color: #222222;
}

.message1 {
   border-left: 1px solid #888888;
}

@media only screen and (min-width: 1280px){

main{
   max-width: 1280px;
   margin: 0 auto;
}

   header{
      max-width: 1280px;
      width: 990px;
      height: 248px;
      left: 158px;
      top: 55px;
      margin: 157px auto 0 auto;
      }

header h2{
   font-weight: 400;
   font-size: 30px;
   line-height: 36px;
   }

header h1{
   font-weight: 700;
   font-size: 50px;
   line-height: 60px;
   width: 394px;
   width: 394px;
   height: 118px;
   left: 158px;
   top: 151px;
}

.logo{
   width: 248px;
   height: 248px;
   position: relative;
   margin-top: -215px;
}

.intro{
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 564px;
   }

   .intro > img{
      position: absolute;
   }   
   
   .intro-title{
      width: 100%;
      font-weight: 700;
      font-size: 33px;
      line-height: 33px;
      padding: 0 54px 0 383px;
      position: relative;
      top: 0;
      left: 0;
   }

   .intro-headers{
      margin: 0 0 0 auto;
      padding: 50px 0 0 0;
      width: 908px;
   }
   
   .intro-text{
      margin: 0 0 0 auto;
      font-size: 20px;
      line-height: 37px;
      height: 460px; 
      background-color: #FFFFFF;
      padding: 50px 54px 51px 383px;
   }

}
