*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root{
   --background-color: #FFFECA;
   --text-color: #0000FF;
   --facts-color: #FFE400;
}

body{
   background-color: var(--background-color);
   font-family: inter, sans-serif;
}

header{
display: flex;
flex-direction: column;
width: 90%;
max-width: 440px;
margin-left: 20px;
margin-right: 20px;
margin-top: 57px;
}

h2{
   font-weight: 400;
   font-size: 21px;
   line-height: 26px;
   color: var(--text-color);
}

h1{
   font-weight: 700;
   font-size: 30px;
   line-height: 44px;
   width: 300px;
   color: var(--text-color);
}

.logo{
   width: 10em;
   margin: 1em 0 0 auto;
}

main{
display: flex;
flex-direction: column;
max-width: 440px;
width: 100%;
}

.intro{
width: 90%;
margin: 80px auto 0 auto;
position: relative;
}

.intro-img{
   max-width: 442px;
   width: 100%;
}

.intro-title{
   position: absolute;
   width: 85%;
   height: 50px;
   padding: 15px 13px 7px 26px;
   background-color: #FFFFFF;
   color: var(--text-color);
   font-size: 19px;
   left: 53px;
   top: 215px;
}

.intro-text{
   position: relative;
   padding: 21px 13px 20px 25px ;
   font-weight: 400;
   font-size: 15px;
   line-height: 25px;
   background-color: #FFFFFF;
   color: var(--text-color);
   top: -5px;
}

.facts-and-numbers{
   width: 90%;
   margin: 80px auto 0 auto;
   position: relative;
   color: black;
}

.facts-and-numbers h2{ 
   font-weight: 700;
   font-size: 21px;
   text-align: center;
   margin: auto 90px auto 90px;
   color: var(--text-color);
   padding-bottom: 25px;
}

.facts-and-numbers ul{
   display: flex;
   flex-direction: column;
   align-items: center;
   list-style-type: none;
   padding: 0;
   gap: 0.5em;
}

.facts-and-numbers li{
   background-color: var(--facts-color);
   width: fit-content;
   padding: 5px 12px;
   border-radius: 50px;
   font-size: 18px;
   line-height: 30px;
}

span{
   font-weight: 700;
   padding-right: 5px;
}

.middle{
   width: 90%;
   margin: 80px auto 0 auto;
   position: relative;
   }

.middle-img{
   max-width: 442px;
   width: 100%;
}

.middle-title{
   position: absolute;
   width: 70%;
   height: 50px;
   padding: 15px 15px 16px 20px;
   background-color: #FFFFFF;
   color: var(--text-color);
   font-size: 19px;
   right: auto;
   top: 185px;
}

.middle-text{
   top: -5px;
   position: relative;
   padding-right: 13px;
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 60px;
   font-weight: 400;
   font-size: 15px;
   line-height: 25px;
   background-color: #FFFFFF;
   color: var(--text-color);
}

.button1 {
   position: relative;
   top: -55px;
   margin: auto 13px auto 20px;
   background: #0000FF;
   border-radius: 5px;     
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   width: 300px;
   height: 34px;
   border: none;
 }
 
.button1 p{
    color: #FFFFFF;
     }

.jasper{
      width: 90%;
      margin: 50px auto 0 auto;
      position: relative;
   }

.img-3{
   border-radius: 50%;
   width: 50%;
   margin-left: 25%;
}

.jasper-title{
   font-weight: 700;
   font-size: 15px;
   line-height: 30px;
   margin-top: 18px;
   color: var(--text-color);
}

.jasper-text{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #222222;
}

.button2 {
   margin: 5px 13px auto auto;
   background: #0000FF;
   border-radius: 5px;     
   font-weight: 400;
   font-size: 12px;
   height: 25px;
   border: none;
}

.button2 p{
   color: #FFFFFF;
   padding: 2px 2px 2px 2px;
   font-weight: 700;
}

.timeline {
   position: relative;
   max-width: 100%;
   margin: 80px auto 0 auto
 }
 
 .timeline::after {
   content: '';
   position: absolute;
   background-color: blue;
   width: 2px;
   top: 0;
   bottom: 0;
   left: 50%;
   margin-left: -4px;
 }
 
 .container {
   padding: 10px 40px;
   position: relative;
   margin-left: -5px;
   width: 50%;
 }
 
 .container::after {
   content: '';
   position: absolute;
   width: 25px;
   height: 25px;
   right: -17px;
   background-color: blue;
   top: 58px;
   border-radius: 50%;
   z-index: 1;
 }
 
 .left {
   left: 0;
 }
 
 .right {
   left: 50%;
 }
 
 .right::after {
   left: -10px;
 }
 
 .left::after {
   right: -5px;
 }
 
 @media screen and (max-width: 600px) {
   .timeline::after {
   left: 30px;
   }
}
   .container {
   width: 100%;
   padding-left: 60px;
   padding-right: 20px;
   }
   
   .left::after, .right::after {
   left: 20px;
   }
   
   .right {
   left: 0%;
   }

   .timeline h3{
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   color: #222222;
   margin-top: 20px;
   }

   .timeline h2{
   font-weight: 700;
   font-size: 20px;
   line-height: 29px;
   color: var(--text-color);
   }

   .timeline p{
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   color: #222222;
   }

   .timeline-img{
      max-width: 442px;
      width: 100%;
      margin-top: 8px;
   }






